body
{
	margin: 0 auto;
	background-color: rgb(102, 153, 255);
	font-family: segoe ui;
	text-align: center;
} 

#all
{
	width: 853px;
	margin: 0 auto;
	padding: 10px;
	box-shadow: #333 0px 0px 10px;
	background-color: #fff;
	text-align: center;
}